<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
    <script src="/js/jquery-3.4.0.min.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div id="task-add">	
        <form>
            <h2>Добавление задачи</h2>
            <label>Задача:</label>
            <input type="text" name="name" value="">
            <label>Дата создания:</label>
            <input type="text" name="date" value="">
            <hr>
            <button id="save-task">Сохранить</button>
        </form>
    </div>
    <div id="task-update">
        <form>
            <h2>Обновление задачи</h2>
            <label>Задача:</label>
            <input type="text" name="name" value="">
            <label>Дата:</label>
            <input type="text" name="date" value="">
            <hr>
            <button id="update-task">Обновить</button>
        </form>
    </div>
    <div id="task-delete">
        <form>
            <h2>Удаление задачи</h2>
            <label>Задача:</label>
            <input type="text" name="name" value="">
            <hr>
            <button id="delete-task">Удалить</button>
        </form>
    </div>
    <h1>Список задач (<span th:text="${tasksCount}">0</span>)</h1>
    <button id="show-add-task-form">Добавить задачу</button>
    <button id="show-update-task-form">Обновить задачу</button>
    <button id="show-delete-task-form">Удалить задачу</button>
    <br><br>
	<div id="task-list">
        <div th:each="task : ${tasks}">
            <a href="#" class="task-link" th:attr="data-id=${task.id}" th:text="${task.name}"></a>
        </div>
    </div>
    <p th:text="${someParameter}"></p>
</body>
</html>